
* {
    font-size:12px;
    margin:0;
    padding:0; 
} 
fieldset {
    padding:10px;
    margin:10px;
    width:270px;
    color:#333; 
    border:#06c dashed 1px;
} 
legend {
    color:#06c;
    font-weight:800; 
    background:#fff;
	text-align:center
} 
ul {
    list-style-type: none;
    margin:8px 0 4px 0;
} 
li {
    margin-top:4px;
}
